/* collapse 1 */
#headingOne, #headingTwo, #headingThree {
    /* background-color: #B99861ff; */
    background-image: linear-gradient(to top left, rgb(153, 121, 67), rgb(194, 183, 163));
    opacity: 1;
    color: white;
}

/* change background when hover on link */
.btn:hover {
    color: rgb(22, 21, 21);
}

/* image of the background */
body {
    background-color: rgb(165, 165, 165);
}

/* navbar brand */
#brand {
    font-family: 'Yellowtail', cursive;
    text-shadow: #213035ff;
    font-size: 2.7em;
    background: linear-gradient(rgb(196, 129, 85), rgb(74, 202, 91) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 5px;
}
/*    

$hunter-green: #1E5926ff;
$gunmetal: #213035ff;
$dutch-white: #D9CAAEff;
$morning-blue: #809B98ff;
$camel: #B99861ff;

font-family: 'Yellowtail', cursive;
font-family: 'Open Sans', sans-serif;

*/
